[submodule "modulekit"]
	path = modulekit
	url = https://github.com/plepe/modulekit.git
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/plepe/modulekit-base.git
[submodule "lib/modulekit/ajax"]
	path = lib/modulekit/ajax
	url = https://github.com/plepe/modulekit-ajax.git
