.auth_user_menu {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px;
  min-width: 10em;
}
.auth_user_menu a {
  text-decoration: none;
}

.auth_user_menu .info {
  text-align: right;
}
.auth_user_menu .menu {
  border: 1px solid black;
  padding: 2px;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.auth_user_menu .menu li {
  list-style-type: none;
}

#auth_user_menu_form {
  position: absolute;
  right: 0px;
  width: 20em;
  top: 2em;
  border: 1px solid black;
  padding: 2px;
}
